/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Global*/
html {
    scroll-behavior: smooth;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: #2d2d2d;
    color: #FFFFFF;
    overflow-x: hidden;
}

h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #f5a623;
}

.page {
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 20px;
}

.otherColor {
    color: #f5a623;
}


/* HEADER */
header {
    width: 100%;
}

nav {
    max-width: 1600px; 
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    padding: 0 40px;
    color: #FFFFFF;
}

nav .left a{
    color: white;
    font-size: 29px;
    font-weight: 640;
}

nav a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #f5a623;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 40px;
    font-weight: 600;
    font-size: 18px;
}

/*SECTION 1*/
#heroSection {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
        min-height: 100vh;

}

h1 {
    margin-bottom: 20px;
}

li a {
    color: #f5a623;
}

.heroLinks {
    border: 1px solid #f5a623;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: auto;
    border-radius: 50%;
}

#myNameHero {
    font-size: 80px;
}

.pictureGorkem {
    border-radius: 60%;
    width: 500px;
    height: 500px;
    overflow: hidden;
    background-color: #f5a623;
    box-shadow: #f5a623;
}

.pictureGorkem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 50%;
}


/*About Me Section*/
.aboutMe {
    flex-direction: column;

}







/* SKILLS - Section*/
.skillElem {
    display: flex;
    padding: 2.5rem;
    transition: all 0.4s ease;
       flex-direction: column;
            align-items: flex-start;
            position: relative;
}

.skillElem:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.07);
    border-color: rgba(255, 255, 255, 0.4);
}

.skillList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
}

.glass-design {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}

/*Footer*/
#footerText {
    margin: auto;
    padding: 1rem 0;
    text-align: center;
}